<?xml version="1.0" encoding="UTF-8"?>
<NotepadPlus>
  <GUIConfigs>
    <GUIConfig name="TabSetting" replaceBySpace="no" size="4" backspaceUnindent="no" />
    <GUIConfig name="NewDocDefaultSettings" format="0" encoding="4" lang="0" codepage="-1" openAnsiAsUTF8="yes" addNewDocumentOnStartup="no" useContentAsTabName="no" />
    <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" lineNumberDynamicWidth="yes" isEdgeBgMode="no" edgeMultiColumnPos="80" />
    <GUIConfig name="MRU">yes</GUIConfig>
  </GUIConfigs>
</NotepadPlus>
